[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
sulguk = "*"
aiogram = "*"
requests = "*"
cachetools = "*"
pip = "*"
pipenv = "*"
readability-lxml = "*"
tghtml = "*"
beautifulsoup4 = "*"
newspaper3k = "*"

[dev-packages]

[requires]
python_version = "3.11"
